.divone{
    width: 1920px;
    height: 1080px;
    background-color: darkgreen;
}
.divtwo{
    width: 100%;
    height: 360px;
    background-color: white;
    position: relative;
    top: 360px;
}
.divthree{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 61px;
}
.divfour{
    width: 100%;
    height: 360px;
    background-color: black;
    position: relative;
    top: 360px;
}
.imgone{
    position: absolute;
    left: 355px;
}
.imgtwo{
    position: absolute;
    left: 835px;
}
.imgthree{
    position: absolute;
    left: 1315px;
}